In [2]:
import pandas as pd
import os
# import seaborn as sns
import numpy as np
import re
from datetime import datetime
import seaborn as sns
path = './' + 'data/'
os.listdir(path)
# os.cpu_count()

['OD集货量',
 '中转场历史到件量0601至0831.csv',
 '场地数据.csv',
 '班次数据0601至0831.csv',
 '运力配载数据0601至0831']

In [2]:
# # %%time
# # trans = pd.read_json('./data/运力配载数据0601至0831/line_info_0601.json', lines=True)
# hist_arr = pd.read_csv(path + '中转场历史到件量0601至0831.csv')
# # loc = pd.read_csv(path + '场地数据.csv')
# # # loc.to_csv(path + '场地数据.csv', index = None, encoding='utf_8_sig')
# # task_arrange = pd.read_csv(path + '班次数据0601至0831.csv')


# path_od = path + 'OD集货量/'  
# # path+
# dfs = pd.DataFrame()
# for fname in os.listdir(path_od):
#     if re.search(r'\.csv$', fname):
#         dfs = pd.concat(
#             [dfs , pd.read_csv(path_od + fname)], axis = 0, ignore_index = True)
# prc_in = pd.DataFrame(dfs) 
# print(
#     'loc:', loc.shape, '\nhist:' ,
#     hist_arr.shape, '\ntask:',
#     task_arrange.shape, '\nod:' ,
#     dfs.shape)

In [3]:
task_loc = pd.read_pickle('./data_clean/task_loc.p')

---

# Loc table clean

In [4]:
loc = pd.read_pickle('./data_clean/loc.p'); loc.shape

(444, 21)

In [5]:
pd.set_option("display.max_rows", None, "display.max_columns", None)
loc[loc['场地代码'] == '552W']

,场地代码,场地类型,主服务业务区,单小时处理能力,卸货卡位总数,卸车卡位（17.5M）,卸车卡位（>=15M）,卸车卡位（<15M）,装货卡位总数,装车卡位（17.5M）,装车卡位（15M）,装车卡位（13.5M）,装车卡位（9.6M）,装车卡位（7.6M）,装车卡位（5.2M）,off,onn,off_p1,off_p2,onn_p1,onn_p2
205,552W,片区中转场,551Y,21516,12,False,True,True,87,False,True,True,False,False,False,22.77636,28.5,1.89803,0.261797,2.375,0.327586

In [ ]:
# loc.columns
loc = loc.drop(['所在城市代码','应用场景', '分拨区' , '所在城市名称', '场地名称', '主服务城市','所在区部'], axis = 1) 
loc[[ '卸车卡位（17.5M）', '卸车卡位（>=15M）', '卸车卡位（<15M）', '装车卡位（17.5M）', '装车卡位（15M）',
       '装车卡位（13.5M）', '装车卡位（9.6M）', '装车卡位（7.6M）', '装车卡位（5.2M）']]  = loc[[ '卸车卡位（17.5M）', '卸车卡位（>=15M）', '卸车卡位（<15M）', '装车卡位（17.5M）', '装车卡位（15M）',
       '装车卡位（13.5M）', '装车卡位（9.6M）', '装车卡位（7.6M）', '装车卡位（5.2M）']] == 0
# loc[['装车卡位（13.5M）', '装车卡位（9.6M）', '装车卡位（7.6M）', '装车卡位（5.2M）']].describe()
# loc.head(2)
loc['off_1'] = loc['卸车卡位（17.5M）'] * 17.5
loc['off_2'] = loc['卸车卡位（>=15M）'] * 15
loc['off_3'] = loc['卸车卡位（<15M）'] * (13.5 * 0.970721 + 9.6 * 11.056306 + 7.6 * 2.279279 + 5.2 * 9.826577)/ \
    (0.970721 + 11.056306 + 2.279279 + 9.826577)
loc['onn_1'] = loc['装车卡位（17.5M）'] * 17.5
loc['onn_2'] = loc['装车卡位（15M）'] * 15
loc['onn_3'] = loc['装车卡位（13.5M）'] * 13.5
loc['onn_4'] = loc['装车卡位（9.6M）'] * 9.6
loc['onn_5'] = loc['装车卡位（7.6M）'] * 7.6
loc['onn_6'] = loc['装车卡位（5.2M）'] * 5.2
loc['off'] = loc['off_1'] + loc['off_2'] + loc['off_3']
loc['onn'] = loc['onn_1'] + loc['onn_2'] + loc['onn_3'] + loc['onn_4'] + loc['onn_5'] + loc['onn_6']
loc = loc.drop(['off_1','off_2', 'off_3', 'onn_1', 'onn_2', 'onn_3', 'onn_4', 'onn_5', 'onn_6'], axis = 1)

loc['off_p1'] = loc['off']/loc['卸货卡位总数']
loc['off_p2'] = loc['off']/loc['装货卡位总数']
loc['onn_p1'] = loc['onn']/loc['卸货卡位总数']
loc['onn_p2'] = loc['onn']/loc['装货卡位总数']

# loc.to_pickle('./data_clean/loc.p')

In [ ]:
corr_loc = loc.corr()
corr_loc.style.background_gradient(cmap='coolwarm', axis=None)

# Task arrage clean

In [ ]:
# task_arrange[(task_arrange['operate_zone_code'] == '552W') & (task_arrange['batch_date'] == '2021-06-04')]

In [6]:
# pd.to_pickle(ta,  './data_clean/task.p')
ta = pd.read_pickle('./data_clean/task.p')
# task_loc[task_loc['operate_zone_code'] == '010R']

In [ ]:
%%time

ta = task_arrange.groupby(['operate_zone_code', 'batch_date']).\
    agg(min_begin = ('plan_begin_tm', min),
    max_begin = ('plan_begin_tm', max),
    min_end = ('plan_end_tm', min),
    max_end = ('plan_end_tm', max),
    count = ('batch_code', 'nunique')
    
    ).reset_index()

def convt_min(col):
    ta[col] = ta[col].apply(lambda i: datetime.strptime(i,'%H:%M').hour*60 + datetime.strptime(i,'%H:%M').minute)
     
for i in ['min_begin', 'max_begin', 'min_end','max_end']:
    convt_min(i)


# ta['time_consume_per_vote'] = (ta['max_end'] - ta['min_begin'])/ta['count']

In [26]:
corr_ta = ta.corr()
corr_ta.style.background_gradient(cmap='coolwarm', axis=None)

In [31]:
# %%time
# import matplotlib.pyplot as plt
# ta_plt2 = pd.DataFrame(ta['operate_zone_code'].value_counts())
# ta_plt2 = pd.DataFrame(ta_plt2['operate_zone_code'].value_counts())
# ta_plt2['site'] = ta_plt2.index
# plt.pie(x = 'operate_zone_code' , data =ta_plt2)

In [32]:
%%time
task_loc = ta.merge(loc, left_on='operate_zone_code', right_on = '场地代码', how = 'left')

Wall time: 142 ms

In [ ]:
%%time
del loc, ta 
# task_loc.to_pickle('./data_clean/task_loc.p')

In [51]:
# %%time
# task_loc_valued = task_loc[~task_loc['场地代码'].isna()]
# task_loc_nulled = task_loc[task_loc['场地代码'].isna()]

In [ ]:
# task_loc.isnull().sum()/len(task_loc)

---
# od

In [7]:
od = pd.read_pickle('./data_clean/od.p');od.head(5)
"""
只搞了10天的,   历史到件量的场地不是每个都需要考虑的吧 集货OD对应的场地应该只有400出头 场地数据基本能覆盖的
"""

,srcsitecode,destsitecode,date1,batch_cnt,route_cnt,votes,weights,air_votes,air_weights
0,010R,010R,2021-06-01,2,4,10.0,122.500000,2.0,4.166667
1,010R,010R,2021-06-02,2,3,4.0,32.500000,0.0,0.000000
2,010R,010R,2021-06-03,2,4,15.0,102.416667,2.0,2.000000
3,010R,010R,2021-06-04,2,5,27.0,193.175000,2.0,2.900000
4,010R,010R,2021-06-05,1,2,2.0,2.000000,0.0,0.000000

In [ ]:
[prc_in[(prc_in['date1'] == '2021-06-08') & (prc_in['destsitecode'] == '552W')].sum(),
prc_in[(prc_in['date1'] == '2021-06-04') & (prc_in['srcsitecode'] == '552W')].sum()]

In [ ]:
# prc_in.head()

od = prc_in.groupby(['srcsitecode','destsitecode', 'date1']).agg(
    batch_cnt = ('srcbatchcode', 'nunique'),
    route_cnt = ('route_code', 'nunique'),
    votes = ('votes', sum),
    weights = ('weight1', sum),
    air_votes =('air_votes', sum),
    air_weights = ('air_weight1', sum)
).reset_index()

In [ ]:
# od.to_pickle('./data_clean/od.p')

In [ ]:
# hist_arr[hist_arr['a.report_dt'] == '2021-06-01'].sort_values('a.zonecode')

In [21]:
[od.date1.unique(), od.date1.max()]

[array(['2021-06-01', '2021-06-02', '2021-06-03', '2021-06-04',
        '2021-06-05', '2021-06-06', '2021-06-07', '2021-06-08',
        '2021-06-09', '2021-06-10'], dtype=object),
 '2021-06-10']

In [ ]:
od_src = od[['srcsitecode','date1', 'batch_cnt', 'route_cnt',
       'votes', 'weights', 'air_votes', 'air_weights']]

---

# hist

In [42]:
hist_arr[(hist_arr['a.zonecode'] == '552W') & ( hist_arr['a.report_dt'] == '2021-06-04' )]

,a.report_dt,a.zonecode,all_arr_waybill,all_arr_weight,simu_arr_waybill,simu_arr_weight
35110,2021-06-04,552W,175334,472758.782153,6500,13488.254667

# hist_arr.to_pickle('./data_clean/hist_arr.p')
# merge all

In [10]:
hist_arr = pd.read_pickle('./data_clean/hist_arr.p')
hist_arr.head()

,a.report_dt,a.zonecode,all_arr_waybill,all_arr_weight,simu_arr_waybill,simu_arr_weight
0,2021-06-08,010CC006,525,1280.400000,0,0.000000
1,2021-06-08,010CC007,0,0.000000,0,0.000000
2,2021-06-08,010R,102944,230415.243664,76818,165515.803556
3,2021-06-08,010RA,109154,249089.557278,109154,249089.557278
4,2021-06-08,010RG,119183,261849.663955,118678,260439.168955

In [24]:
hist_arr_part = hist_arr[hist_arr['a.report_dt'] < '2021-06-11']

In [31]:
od_dest = od.groupby(['destsitecode', 'date1']).agg(
    {'batch_cnt': sum, 
    'route_cnt': sum,
    'votes': sum, 
    'weights': sum,
    'air_votes': sum, 
    'air_weights':sum
    }).reset_index();od_dest

,destsitecode,date1,batch_cnt,route_cnt,votes,weights,air_votes,air_weights
0,010R,2021-06-01,9,11,16.0,140.800000,4.0,33.666667
1,010R,2021-06-02,7,8,8.0,34.600000,2.0,32.500000
2,010R,2021-06-03,8,10,17.0,106.216667,6.0,12.400000
3,010R,2021-06-04,4,7,28.0,194.175000,3.0,10.400000
4,010R,2021-06-05,5,6,7.0,15.333333,1.0,13.000000
...,...,...,...,...,...,...,...,...
4898,SIN01R,2021-06-06,141,104,0.0,0.000000,285.0,1264.000000
4899,SIN01R,2021-06-07,265,167,0.0,0.000000,950.0,4844.884615
4900,SIN01R,2021-06-08,256,157,0.0,0.000000,923.0,3888.000000
4901,SIN01R,2021-06-09,242,150,0.0,0.000000,933.0,4632.535556
4902,SIN01R,2021-06-10,278,176,0.0,0.000000,952.0,4546.200000

In [37]:
hist_od_part = hist_arr_part.merge(
    od_dest, 
    left_on = ['a.report_dt', 'a.zonecode'], 
    right_on = ['date1', 'destsitecode'], validate = 'one_to_one', how = 'right'); len(hist_od_part)

hist_od_part = hist_od_part.drop(['a.report_dt','a.zonecode'], axis =1 )

4903

In [44]:
hist_od_part

,all_arr_waybill,all_arr_weight,simu_arr_waybill,simu_arr_weight,destsitecode,date1,batch_cnt,route_cnt,votes,weights,air_votes,air_weights
0,117528.0,237472.306251,85223.0,165893.494172,010R,2021-06-01,9,11,16.0,140.800000,4.0,33.666667
1,114545.0,242443.357334,81537.0,168838.271100,010R,2021-06-02,7,8,8.0,34.600000,2.0,32.500000
2,97133.0,214623.247696,70183.0,152144.916293,010R,2021-06-03,8,10,17.0,106.216667,6.0,12.400000
3,102903.0,224132.253492,74137.0,155885.942530,010R,2021-06-04,4,7,28.0,194.175000,3.0,10.400000
4,64644.0,150821.001720,48298.0,106059.225291,010R,2021-06-05,5,6,7.0,15.333333,1.0,13.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
4898,8165.0,29186.366667,8165.0,29186.366667,SIN01R,2021-06-06,141,104,0.0,0.000000,285.0,1264.000000
4899,NaN,NaN,NaN,NaN,SIN01R,2021-06-07,265,167,0.0,0.000000,950.0,4844.884615
4900,139.0,794.960000,139.0,794.960000,SIN01R,2021-06-08,256,157,0.0,0.000000,923.0,3888.000000
4901,1614.0,3380.180000,1614.0,3380.180000,SIN01R,2021-06-09,242,150,0.0,0.000000,933.0,4632.535556
4902,1139.0,2527.900000,1139.0,2527.900000,SIN01R,2021-06-10,278,176,0.0,0.000000,952.0,4546.200000

In [46]:
train = task_loc.merge(hist_od_part, \
    left_on = ['operate_zone_code', 'batch_date'], right_on=['destsitecode', 'date1'], 
    validate = 'one_to_one',
    how = 'right')

In [53]:
# del od, task_loc, hist_arr
# del task_loc_nulled, task_loc_valued
# # [len(task_loc), len(train), len(od)]

---
# transport

In [54]:
trans.head(2)

NameError: name 'trans' is not defined

In [ ]:
trans.iloc[11,:]['passZoneCodes'][0]

In [ ]:
trans.iloc[11,:]['taskInfos'][0] # ['unloadZone']

In [ ]:
trans.iloc[1,:]['vehicleInfos'][0] # ['unloadZone']

---

In [55]:
import os
import pandas as pd
import numpy as np
import re 

from mlxtend.regressor import StackingRegressor

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge

from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
os.getcwd()

'c:\\Users\\dscshap3808\\Documents\\my_scripts_new\\play7_comp'